In [ ]:
# 1ST ASSIGNMENT

In [1]:
name = "shubhankar naik"

In [2]:
name.split()

['shubhankar', 'naik']

In [3]:
name

'shubhankar naik'

In [4]:
name.format()

'shubhankar naik'

In [5]:
name.split()

['shubhankar', 'naik']

In [6]:
name[3]

'b'

In [7]:
address = "thane"

In [8]:
name + " " + address

'shubhankar naik thane'

In [9]:
name.strip()

'shubhankar naik'

In [10]:
name.find("a")

5

In [11]:
name.find("n")

6

In [12]:
name.index("r")

9

In [13]:
name.upper()

'SHUBHANKAR NAIK'

In [14]:
address.upper()

'THANE'

In [15]:
name.replace('shubhankar','shubhangi')

'shubhangi naik'

In [16]:
address.replace('thane','mumbai')

'mumbai'

In [17]:
name.count('a')

3

In [18]:
name.count('h')

2

In [19]:
# 2ND ASSIGNMENT

In [20]:
lst = [1,2,3,4,5,6,7,8,]

In [21]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
lst[3]

4

In [23]:
lst[-1]

8

In [24]:
lst.append("last")

In [25]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 'last']

In [26]:
lst.insert(0,"first")

In [27]:
lst

['first', 1, 2, 3, 4, 5, 6, 7, 8, 'last']

In [28]:
lst1 = [1,2,3]
lst2 = [4,5,6]

In [29]:
lst1.extend(lst2)

In [30]:
lst1

[1, 2, 3, 4, 5, 6]

In [33]:
sum(lst1)

21

In [34]:
lst = (1,2,3,4,5,6,7,8,9)

In [35]:
len(lst)

9

In [36]:
lst.index(9)

8

In [37]:
lst = (1,2,3,4,2,3,4)

In [38]:
lst.index(2,2)

4

In [39]:
lst=(0,0.1,0.3,1,2,3)

In [43]:
min(lst)

0

In [44]:
# 3RD ASSIGNMENT

In [45]:
dit = {'name':'shubhankar','age':'19','place':'thane'}

In [46]:
dit['name']

'shubhankar'

In [47]:
dit["age"]

'19'

In [48]:
dit1 = {'subdict':{'name':'shubhankar','age':'19','place':'thane'}}

In [49]:
dit1.get('subdict').get('name')

'shubhankar'

In [50]:
dit1

{'subdict': {'name': 'shubhankar', 'age': '19', 'place': 'thane'}}

In [51]:
dit1.clear()

In [54]:
dit1

{}

In [55]:
dit.copy()

{'name': 'shubhankar', 'age': '19', 'place': 'thane'}

In [56]:
x = ('a','b','c')

In [57]:
y = 0

In [58]:
dit2 = dit.fromkeys(x,y)

In [59]:
dit2

{'a': 0, 'b': 0, 'c': 0}

In [60]:
dit2.keys()

dict_keys(['a', 'b', 'c'])

In [61]:
dit2.values()

dict_values([0, 0, 0])

In [62]:
dit3 = {'fruit':'apple','color':'red','content':'maltose'}

In [63]:
dit3.pop('fruit')

'apple'

In [64]:
dit3

{'color': 'red', 'content': 'maltose'}

In [65]:
dit3.update({'color':'green'})

In [66]:
dit3

{'color': 'green', 'content': 'maltose'}